.grid-main {
    display: grid;
    grid-template-columns: auto auto;

}

.center {
    text-align: center;
}

.summary-section {
    grid-row: 1;
    grid-column: 1 / span 2;
}

h2 {
    text-decoration-line: underline;
}

.container {
    border-style: solid;
    border-radius: 5px;
    padding: 5%;
}

.inner-container {
    padding: 1%;
    border-style: solid;
    border-radius: 10px;
}

.skills-section {
    grid-row: 2;
    grid-column: 1;
}

.programming-languages-section {
    grid-row: 2;
    grid-column: 2;
}

.edu-section {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.accomplishments-section {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.experience-section {
    grid-row: 5;
    grid-column: 1 / span 2;
}

.inner-edu {
    display: grid;
    grid-template-columns: auto auto;   
}

.left-border {
    border-left: 2px solid black;
    width: 100%;
}

.fancy-font {
    font-size: 200%;
    color: blue;
}

.section-title {
    width: 100%;
    text-decoration-line: underline;
}