body {
    width: 60%;
    margin: auto;
}

.grid-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1%;
}

.center {
    text-align: center;
}

.dark {
    color: darkolivegreen;
}

.summary-section {
    grid-row: 1;
    grid-column: 1 / span 2;
}

h2 {
    text-decoration-line: underline;
    opacity: 60%;
    color: grey;
}

.container {
    border-style: solid;
    border-radius: 5px;
    padding: 5%;
}

.inner-container {
    padding: 1%;
    border-style: solid;
    border-radius: 10px;
    border-left: none;
}

.skills-section {
    grid-row: 2;
    grid-column: 1;
}

.programming-languages-section {
    grid-row: 2;
    grid-column: 2;
}

.edu-section {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.accomplishments-section {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.experience-section {
    grid-row: 5;
    grid-column: 1 / span 2;
}

.inner-exp {
    
}

.inner-edu {
    display: grid;
    grid-template-columns: auto auto;   
}

.left-border {
    border-left: 2px solid black;
    width: 100%;
}

.fancy-font {
    font-size: 200%;
    color: blue;
}

.section-title {
    width: 100%;
    text-decoration-line: underline;
}

.fixed-timeline {
    margin-right: 5vw;
    margin-top: 4vh;
}